/* Tooltip style */
#kvikklunsj {
    position: relative;
    display: inline-block;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.tooltiptext {
    visibility: hidden;
    width: 300px;
    height: auto;
    background-color: rgb(46, 48, 34);
    border: 2px solid black;
    color: rgb(255, 255, 255);
    padding: 10px 0;
    position: absolute;
    z-index: 1;
}

#kvikklunsj:hover .tooltiptext {
    visibility: visible;
}